<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h2>Create</h2>
<form th:action="@{/create}" th:object="${customer}" method="post" enctype="multipart/form-data">
    <th:block th:if="${message}">
        <span th:text="${message}"></span>
    </th:block>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" placeholder="name" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td><input type="text" placeholder="mm/dd/yy" th:field="*{birthDate}"></td>
            <td th:if="${#fields.hasErrors('birthDate') }" th:errors="*{birthDate}"></td>
        </tr>
        <tr>
            <td>Avatar</td>
            <td><input type="file" th:field="*{avatar}"></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
    <h3 th:text="${'View page: ' + counterAccess.getCount()}"></h3>
</form>
</body>
</html>